# dev
.babelrc
.editorconfig
.gitignore
src
public
tsconfig.json
.prettierignore
.prettierrc.json

# testing
coverage
jest.config.js

# dependencies
node_modules
yarn.lock
package-lock.json

# documentation
doczrc.js
.docz
